body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  font-family: 'Abel', sans-serif;
  color: #000000;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

body.homepage {
  background-color: #e6e5e5;
  line-height: 1.5;
}

:focus {
  outline-color: inherit !important;
  outline-style: solid !important;
  outline-width: 1px !important;
  outline-offset: -1px !important;
}

.homepage .container-fluid {
  height: 100vh;
}

::selection {
  background-color: #bacfff;
}

::-moz-selection {
  background-color: #bacfff;
}

#main-row {
  height: 51vw;
  max-height: 450px;
  width: 80vw;
  max-width: 700px;
  box-shadow: 1px 1px 1px 1px;
  background-color: #ffffff;
  user-select: text;
  -webkit-user-select: text;
}

a {
  outline: none;
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

a:active, a:focus {
  color: inherit;
}

a:hover, #footer img:hover {
  color: #808080 !important;
  filter: grayscale(0%);
  opacity: 1 !important;
  transition: all 0.3s;
}

a.homepage {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 11px;
  font-weight: bold;
  color: #d61f1f !important;
  line-height: 1.5;
  opacity: 0.7;
}

a.homepage:hover {
  color: #d61f1f !important;
  opacity: 1;
}

#logo-big {
  width: 70%;
  max-width: 600px;
  margin-top: -5px;
  transform: scale(0.9);
  transition: all 0.3s;
}

#logo-big:hover {
  transform: scale(1);
  transition: all 0.3s;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

h1.homepage {
  margin-bottom: 0px;
  font-variant: small-caps;
  line-height: 1.5;
  transition: all 0.3s;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: normal;
}

h2.homepage {
  font-size: 8px;
  font-weight: bold;
  line-height: 2;
}

.pt-10 {
  padding-top: 10px;
}

.flex-1 {
  flex: 1;
}

input {
  width: 100px;
  padding: 3px;
  border-color: #e6e5e5;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin-left: 5px;
  font-family: 'Abel', sans-serif;
  font-size: 7px;
}

button {
  padding: 3px;
  border-color: #2a7fff;
  border-style: solid;
  border-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #2a7fff;
  font-family: 'Abel', sans-serif;
  font-size: 7px;
  color: #ffffff;
  cursor: pointer;
}

button:hover, button:active {
  background-color: #0066ff;
}

input:disabled, button:disabled {
  cursor: not-allowed;
  opacity: 1 !important;
}

#invalid-error, #server-error {
  display: none;
  visibility: hidden;
  color: #d61f1f;
}

#already {
  display: none;
}

#already, #success {
  visibility: hidden;
  color: #00af00;
}

#modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  display: none;
  background-color: rgba(0, 0, 0, 0.72);
  z-index: 2;
}

.modal-display {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  cursor: pointer;
}

.vertical-zoomed {
  height: 80% !important;
  max-width: 400px;
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 5px;
  opacity: 1 !important;
  cursor: default;
}

.horizontal-zoomed {
  width: 80% !important;
  max-width: 700px;
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 5px;
  opacity: 1 !important;
  cursor: default;
}

#main-container {
  min-height: 100%;
}

#header {
  position: fixed;
  background-color: #e6e5e5;
  opacity: 0.8;
  transition: all 0.3s;
  z-index: 1;
}

#logo {
  height: 10vw;
  max-height: 100px;
  width: 30vw;
  max-width: 300px;
  margin: 10px;
  cursor: pointer;
  transform: scale(0.9);
  transition: all 0.3s;
}

#logo:hover {
  transform: scale(1);
  transition: all 0.3s;
}

.shrink #logo {
  height: 8vw !important;
  max-height: 80px;
  width: 24vw;
  max-width: 240px;
  transition: all 0.3s;
}

.shrink:hover #logo {
  height: 10vw !important;
  max-height: 100px;
  width: 30vw !important;
  max-width: 300px;
  transition: all 0.3s;
}

.nav-link {
  padding: 5px;
  font-size: 10px;
}

.selected {
  font-weight: bold;
}

.shrink .nav-link {
  font-size: 9px !important;
  transition: all 0.3s;
}

.shrink:hover .nav-link {
  font-size: 10px !important;
  transition: all 0.3s;
}

.content {
  width: 100vw;
  max-width: 700px;
  margin-top: 17vw;
  margin-bottom: 5vw;
  flex: 1;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  user-select: text;
  -webkit-user-select: text;
}

.spaced {
  line-height: 1.5;
}

.link-important {
  font-weight: bold;
  color: #d61f1f;
  opacity: 0.7;
}

.link-important:hover, .link-important:focus {
  color: #d61f1f !important;
  opacity: 1;
}

#middle-row {
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pest-container {
  position: absolute;
  height: 0px;
  width: 0px;
}

.pest {
  height: 35px;
  width: 35px;
  margin-top: 3px;
  margin-left: -17.5px;
  opacity: 0.1;
  transition: all 0.3s;
}

h3 {
  margin: 5px;
  font-size: 14px;
  font-weight: normal;
}

.pest-title {
  height: 40px;
  width: 85px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  text-shadow: 0.1px 0.1px #000000;
}

.family-image {
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 5px;
  opacity: 0.8;
  cursor: pointer;
  transform: scale(0.95);
  transition: all 0.3s;
}

.vertical {
  height: 35vw;
  min-height: 220.7px;
  max-height: 400px;
  width: 25.4vw;
  min-width: 160px;
  max-width: 290px;
}

.vertical:hover, .horizontal:hover {
  opacity: 1 !important;
  transform: scale(1);
  transition: all 0.3s;
}

#close {
  position: fixed;
  padding: 0px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  top: 0px;
  right: 0px;
  background: none;
  vertical-align: middle;
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s;
}

#close:active, #close:focus {
  outline: none;
  font-weight: bold;
}

#close:hover {
  color: #ffffff !important;
  opacity: 1 !important;
  transition: all 0.3s;
}

#seminar-intro a {
  font-weight: bold;
  opacity: 1;
  transition: all 0.3s;
}

.future {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #d61f1f;
}

#schedule {
  display: inline-block;
}

#schedule li {
  text-align: left;
}

#break {
  height: 1px;
  width: 80vw;
  margin-top: 20px;
  top: 0.7em;
  left: 0;
  align-self: center;
  background-color: #cccccc;
}

#reference {
  margin-top: 5px;
  font-size: 15px;
  font-style: italic;
}

.seminar-info {
  padding-top: 30px;
}

.seminar-date {
  font-size: 20px;
  line-height: 2;
}

.seminar-agenda {
  padding-left: 0px;
  padding-right: 0px;
  font-size: 13px;
  text-align: left;
  line-height: 1.6;
}

.credits {
  color: #d61f1f;
}

#history {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}

#building {
  margin-top: 10px;
  margin-left: 15px;
  float: right;
}

.horizontal {
  height: 25.4vw;
  min-height: 145px;
  max-height: 217.5px;
  width: 35vw;
  min-width: 200px;
  max-width: 300px;
}

#loading-dock {
  margin-top: 10px;
  margin-right: 15px;
  float: left;
}

#contact-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#contact-row .col {
  min-height: auto !important;
}

#contact-information {
  font-size: 15px;
  line-height: 1.5;
}

#contact-information a {
  font-size: 18px;
}

#hours-title {
  font-size: 18px;
  text-decoration: underline;
}

.special {
  color: #d61f1f;
}

iframe {
  height: 45vw;
  min-height: 200px;
  max-height: 350px;
  width: 45vw;
  min-width: 200px;
  max-width: 350px;
  margin-top: 20px;
  border-color: #e3e3e3;
  border-style: solid;
  border-width: 5px;
}

#footer {
  background-color: #dcdcdc;
  font-size: 9px;
  line-height: 1.3;
  z-index: 1;
}

.p-10 {
  padding: 10px;
}

#footer input {
  padding: 5px;
  border-color: #ffffff;
  height: 25px;
  width: 130px;
  font-size: 11px;
  opacity: 0.7;
}

#footer button {
  padding: 5px;
  height: 25px;
  font-size: 11px;
  opacity: 0.7;
}

#footer input:hover, #footer input:focus, #footer button:hover, #footer button:focus {
  opacity: 1;
}

#footer .nav-link {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 9px;
  opacity: 0.6;
}

#footer .nav-link:hover {
  color: inherit !important;
}

.footer-link {
  font-size: 9px;
  opacity: 0.6;
}

#crystalprism {
  height: 25px;
  filter: grayscale(100%);
  transform: scale(0.95);
  transition: all 0.3s;
}

@media only screen and (min-width: 568px) {
  a.homepage {
    margin-left: 13px;
    margin-right: 13px;
    font-size: 16px;
  }

  h1.homepage {
    font-size: 30px;
  }

  h2.homepage {
    font-size: 15px;
    line-height: 3;
  }

  input {
    width: 170px;
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }

  .nav-link {
    padding: 10px;
    font-size: 14px;
  }

  .shrink .nav-link {
    font-size: 12px !important;
  }

  .shrink:hover .nav-link {
    font-size: 14px !important;
  }

  #middle-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  #pest-types {
    height: 35vw;
    min-height: 300px;
    max-height: 400px;
    width: 25.4vw;
    min-width: 217.5px;
    max-width: 290px;
  }

  .vertical {
    min-height: 300px;
    min-width: 217.5px;
  }

  .seminar-agenda {
    padding-left: 20px;
    padding-right: 20px;
  }

  #contact-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  #footer input {
    height: 27px;
    width: 170px;
    font-size: 13px;
  }

  #footer button {
    height: 27px;
    font-size: 13px;
  }

  #footer, #footer .nav-link, .footer-link {
    font-size: 12px;
  }

  #crystalprism {
    height: 30px;
  }
}

@media only screen and (min-width: 768px) {
  a.homepage {
    margin-left: 18px;
    margin-right: 18px;
    font-size: 23px;
  }

  h1 {
    font-size: 24px;
  }

  h1.homepage {
    font-size: 40px;
  }

  h2, h2.homepage {
    font-size: 18px;
  }

  input {
    padding: 5px;
    width: 200px;
    font-size: 15px;
  }

  button {
    padding: 5px;
    font-size: 15px;
  }

  .nav-link {
    font-size: 17px;
  }

  .shrink .nav-link {
    font-size: 15px !important;
  }

  .shrink:hover .nav-link {
    font-size: 17px !important;
  }

  .content {
    margin-top: 135px;
  }

  #pest-types, .vertical {
    min-height: 360px;
    min-width: 261px;
  }

  h3 {
    font-size: 16px;
  }

  .pest-title {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .seminar-agenda {
    padding-left: 60px;
    padding-right: 60px;
  }

  #footer input {
    height: 30px;
    width: 200px;
    font-size: 16px;
  }

  #footer button {
    height: 30px;
    font-size: 16px;
  }

  #footer, #footer .nav-link, .footer-link {
    font-size: 14px;
  }

  #crystalprism {
    height: 35px;
  }
}
